body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  padding-top: 100px;
}

form {
  text-align: right;
  text-size-adjust: 70px;
}

h1 {
  color: cornflowerblue;
  font-size: 60px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

h2 {
  font-size: 35px;
}

h3 {
  text-align: center;
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}

h4 {
  text-align: right;
  font-size: 20px;
  margin: 0;
  text-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  background: linear-gradient(
    135deg,
    rgb(255, 168, 168) 10%,
    rgb(252, 255, 0) 100%
  );
}

h5 {
  color: purple;
  text-align: center;
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
}

p {
  color: purple;
  text-align: center;
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}

.btn-btn-success {
  text-align: right;
}
.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-image: url(https://ak.picdn.net/shutterstock/videos/1007367289/thumb/1.jpg);
}

.clearfix .active {
  color: #668ee5;
  cursor: default;
}

.clearfix.active: hover {
  text-decoration: none;
}

.weather-forecast {
  color: white;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  text-align: center;
}

.sunny {
  color: black;
  font-size: 40px;
  transition: all 150ms ease-in-out;
}

.sunny:hover {
  font-size: 80px;
  color: orange;
}

.showers {
  color: black;
  font-size: 40px;
  transition: all 150ms ease-in-out;
}

.showers:hover {
  font-size: 80px;
  color: blue;
}

.snowflake {
  color: black;
  font-size: 40px;
  transition: all 150ms ease-in-out;
}

.snowflake:hover {
  font-size: 80px;
  color: white;
}

.card {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-image: url(https://thumbs.dreamstime.com/b/photos-sky-different-weather-collage-banner-design-photos-sky-different-weather-collage-banner-design-208117046.jpg);
  background-size: 115%;
}

.card-title,
.card-text {
  color: black;
  text-align: center;
}
